/*
	General
*/
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	background-color: #085F63;
	color: #FACF5A;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items:center;
	justify-content:center;
  font-family:Courier New;
	font-size: 20px;
}
/*
	Radar Chart
*/
.container{
	margin-left: 50px;
}

.info {
  top:15px;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 25px;
  width: 600px;
  height: 300px;
  margin-top: 30px;
}
.question{
  font-size: 30px;
  margin-top:30px;

}
img{
  width: 130px;
  height: 75px;
  margin-left: 1350px;

}
/* DROPDOWN */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

h1 {
	text-align:center;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  top: 16px;
  left: 16px;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


/*
Timeline
*/
.timelineBox{
  height: 100px;
  width: 200px;
  background-color: lightblue;
  color: black;
  font-family: Courier New;
}

/*
	Form
*/

.form {
		display: flex;
		flex-direction: column;
		height: 400px;
		align-items:center;
		justify-content:space-around;
}

input {
	margin-bottom:20px;
}

/*
	Submit Button
*/

.submit{
  font-size: 15px;
	background-color: Green;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.submit:hover{
	background-color: #3dd459;
}
